@import "colors";
@import "widget";

.data {
	display: flex;
	flex-direction: column;
	color: $color-white;
	position: relative;
	padding-top: 20px;
	padding-right: 10px;

	::-webkit-scrollbar {
		width: 8px;
	}

	::-webkit-scrollbar-track {
		background-color: $color-gray;
	}

	::-webkit-scrollbar-thumb {
		box-shadow: inset 0 0 8px $color-main;
	}

	@media (max-width: 1060px) {
		border-top: solid 4px $color-gray;
	}

	&__error {
		color: red;
	}

	&__load {
		width: 48px;
		align-self: center;
		position: absolute;
		top: 35%;
		transform: translate(0, -50%);
	}

	&__pages {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
		gap: 5px;
		padding: 15px;
		margin-top: auto;
	}

	&__page {
		border: solid 1px white;
		padding: 10px;
		cursor: pointer;
		text-align: center;
		transition-duration: 0.2s;

		&_active {
			background-color: $color-main;
			opacity: 0.8;
		}

		&:hover {
			background-color: $color-gray;
			opacity: 0.5;
		}
	}
}