@import "purge";
@import "weather-form";
@import "rotating";
@import "colors";
@import "data";

body {
  display: flex;
  align-items: center;
  font-family: Inter, sans-serif;
  font-size: 40px;
  background-color: $color-dark-gray;
  height: 100vh;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

main {
  max-width: 90%;
  min-width: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 50px;
  margin: 0 auto;
  border: 2px solid $color-gray;
  border-radius: 20px;
  padding: 0 40px;
  background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 1060px) {
  main {
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
}

